[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent = "~=22.10.2"
gql = {extras = ["requests"], version = "~=3.4.0" }
requests = "==2.27.1"
boto3 = "~=1.26.87"
aws-requests-auth = "~=0.4.3"
pydantic = "~=1.10.6"

[dev-packages]
pytest = "~=7.2.1"
pytest-cov = "~=4.0"
freezegun = "~=1.2.2"
httmock = "~=1.4.0"
moto = { extras = ["s3"], version = "*" }
black = "*"
build = "~=1.0.3"

[scripts]
test-unit = "python -m pytest token_accessor/tests/unit"
build = "python -m build"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
